body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #fff;
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: auto;
}
#currentButton {
    color: #f3eeeb;
}
.header {
    background: linear-gradient(to right, #17488b 50%, #0d3297 50%);
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container img{
    justify-content: start;
    height: 50px;
    width: 50px;
}
.container p{
    justify-content: flex-start;
}
.logo img {
    width: 45px;
    height: auto;
}
.navigation ul {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}
.navigation li {
    margin: 0 15px;
}
.navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}
.navigation a:hover {
    color: #35312f;
}
.contact-info {
    display: flex;
    align-items: center;
}
.contact-info span {
    align-items: center;
    gap: 5rem;
    margin-left: 20px;
    color: #4b4846;
    font-size: 14px;
}
.contact-info img {
    width: 20px;
    height: auto;
    margin-right: 5px;
}
.hero {
    background: linear-gradient(to right, #17488b 50%, #0d3297 50%);
    color: #fff;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    text-align: center;
}
.hero-content {
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 25%;
    }
.hero h1 {
    position: relative;
    text-align: center;
    font-size: 70px;
    margin: 0;
    color: #fff;
}

.background-image {
    background: url(../img/bell.png);
    position: absolute;
    align-items: center;
    transform: translate(-50%, -50%);
    font-size: 100px;
    color: rgba(255, 255, 255, 0.1);
    z-index: 0;
    opacity: 0.4;
}
/*services*/
.services {
    padding: 50px 0;
    background-color: #fff;
}
.services .container {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}
.services .service-box {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}
.service .service-box h1{
    text-align: center;
    color: #fff;
}
.services .service-box img {
    width: 110px;
    height: 110px;
}
.services .service-box h3 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #ff6600;
}
.services .service-box p {
    color: #666;
}

/*service*/

.service {
    padding: 50px 0;
    background-color: #17488b;
}
.service .container {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}
.service .service-box {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}
.service .service-box h1{
    position: relative;
    text-align: center;
    font-size: 70px;
    margin: 0;
    color: #fff;
}
.service .service-box img {
    width: 110px;
    height: 110px;
}
.service .service-box h3 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #f3f0ee;
}
.service .service-box p {
    color: #666;
}


/*About */
.about {
    padding: 30px 0;
    background-color: #fff;
}
.about .container {
    display: flex;
    justify-content: space-between;
    gap: 8rem;
}
.about h2{
    font-size: 20px;
    margin-bottom: 10px;
    color: #666
}
.about button:hover{
    cursor: pointer;
}
.about img{
    width: 500px;
    height: 300px;
}
